.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root{
  --primary-brend:#4d5ae5;
  --pressed-state:#404BBF;
  --dark:#2e2f42;
  --success:#31D0AA;
  --text:#434455;
  --subtle-text:#8E8F99;
  --accent:#E7E9FC;
  --light:#F4F4FD;
  --modal-overlay:rgba(46, 47, 66, 0.4);
  --hero-background:rgba(46, 47, 66, 0.7);
  --white-background:#ffffff;
  --modal-background:#fcfcfc;

}

body {
  font-family: "Roboto", sans-serif;
}

/** _____Header______ */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.66;
  text-transform: uppercase;
  color: var(--dark);
}

.header-logo-web {
  color: var(--primary-brend);
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-item-navigation {
  color: var(--dark);
}

.header-item-navigation:hover,
.header-item-navigation:focus{
  color: var(--pressed-state);
}

/* Arrdess */

.address-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.address-item-link:hover,
.address-item-link:focus {
  color: var(--pressed-state);
}

/* Hero section */
.hero {
  background: var(--dark);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background: var(--primary-brend);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--pressed-state);
}

/* Features section */

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* Works section */

.works-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

/* Team section */

.team {
  background: var(--modal-background);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.team-posotion {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* Portfolio Page */

/* Filters */

.filters-button {
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brend);
  cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
  background: var(--pressed-state);
  color: var(--white-background);
}

/* Partfolio Projects */

.portfolio-project {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.partfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* Footer */

.footer {
  background: var(--dark);
}

.footer-logo {
  font-family: "Raleway", sans-serif;

  font-size: 18px;
  line-height: 1.16;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light);
}

.footer-logo-web {
  color: var(--primary-brend);
}

.footer-text {
  font-size: 1.5;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--light);
}
