.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  /** –––––––––––––––IRIS */
  --primary-brend: #4d5ae5;
  /** –––––––––––––––OCEAN */
  --pressed-state: #404bbf;
  /** –––––––––––––––NAVI-BLUE */
  --dark: #2e2f42;
  /** –––––––––––––––GREEN */
  --success: #31d0aa;
  /** –––––––––––––––SLATE */
  --text: #434455;
  /** –––––––––––––––LIGHT-SLATE */
  --subtle-text: #8e8f99;
  /** –––––––––––––––CORNFLOWER */
  --accent: #e7e9fc;
  /** –––––––––––––––CLOUD */
  --light: #f4f4fd;
  /** –––––––––––––––NAVI-BLUE-MODAL */
  --modal-overlay: rgba(46, 47, 66, 0.4);
  /** –––––––––––––––GREY */
  --hero-background: rgba(46, 47, 66, 0.7);
  /** –––––––––––––––WHITE */
  --white-background: #ffffff;
  /** –––––––––––––––DAIRY */
  --modal-background: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

/* -------Header------- */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-brend);
}

.header-logo-studio {
  color: var(--dark);
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-item-navigation {
  color: var(--dark);
}

.header-item-navigation:hover,
.header-item-navigation:focus {
  color: var(--pressed-state);
}

/* Arrdess */

.address {
  font-style: normal;
}

.address-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.address-item-link:hover,
.address-item-link:focus {
  color: var(--pressed-state);
}

.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

/* -------Hero section------- */
.hero {
  background: var(--dark);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background: var(--primary-brend);
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--pressed-state);
}

/* -------Features section------- */

.features-title {
  color: var(--dark);
}

.features-text {
  color: inherit;
}

/* -------Works section------- */

.works-title {
  color: var(--dark);
}

/* -------Team section------- */

.team {
  background: var(--light);
}

.team-title {
  color: var(--dark);
}

.team-card {
  background-color: var(--white-background);
}

.team-name {
  color: var(--dark);
}

.team-posotion {
  color: inherit;
}

/* --------------Portfolio Page-------------- */

/* -------Filters------- */

.filters-button {
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brend);
  background-color: var(--light);
  cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
  background: var(--pressed-state);
  color: var(--white-background);
}

/* -------Partfolio Projects------- */

.portfolio-project {
  color: var(--dark);
}

.partfolio-type {
  color: inherit;
}

/* ---------------------Footer--------------------- */

.footer {
  background: var(--dark);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brend);
}

.footer-logo-studio {
  color: var(--light);
}

.footer-text {
  font-size: 1.5;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--light);
}
